<p id="test11"></p>
<script>
var length = '<%=@users.length%>';

var users = [];
var i=0;
<% @users.each do |user| %>
  users[i] = '<%= user %>'
  i++;
<% end %>
var i = "id";
alert(users[0].name);
</script>