<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Frequently Asked Questions</a></li>
		<li><a href="#tabs-2">Rarely Asked Questions</a></li>
	</ul>

	<div id="tabs-1">
		
		<p class="expand"><b>What is ScholarHub</b></p>
		<p class="info">A service that connects motivated students to both students and tutors. Find a student-tutor or a study group!</p>
		<p class="expand"><b>How much does ScholarHub cost?</b></p>
		<p class="info">Absolutely nothing!</p>
		
	</div>
	<div id="tabs-2">

		<p class="expand">How much does ScholarHub make?</p>
		<p class="info">Nothing!</p>

	</div>
</div>

