<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Frequently Asked Questions</a></li>
		<li><a href="#tabs-2">Rarely Asked Questions</a></li>
	</ul>
	
	<div id="tabs-1">
		<p> yolo</p>
	</div>
	<div id="tabs-2">
		<p> yolo2</p>
	</div>
</div>

