<% if !logged_in? %>
<div class="map-canvas-inside">

<h1 id="SignUpNow">Sign up now!</h1>


<%= link_to "I'm a Student #{image_tag('student.png')}".html_safe, signup_path,  :class => "btn btn-lg btn-block", :id => 'sSignup'%><br>
<%= link_to "I'm a Tutor #{image_tag('tutor.png')}".html_safe, signup_path, :class => "btn btn-lg btn-block", :id => 'tSignup'%><br>
</div>


<div id='map-canvas'> 




</div>
<!-- Section 1 -->

<a name="more"></a>
<a href="#more" class="smoothScroll"><br><br><br>
<h1 id="learnmore">Learn More</h1></a>
<h1 class="bg-info" id="ScholarCount"><span class="timer"><%= @all %></span> Scholars</h3>
<h1>Where students and tutors connect.</h1>
<div class="container">
<div class="col-md-6">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Frequently Asked Questions</a></li>
		<li><a href="#tabs-2">Rarely Asked Questions</a></li>
	</ul>

	<div id="tabs-1">
		
		<p class="expand">What is ScholarHub?</p>
		<p class="info">A service that connects motivated students to both students and tutors. Find a student-tutor or a study group!</p>
		<p class="expand">How much does ScholarHub cost?</p>
		<p class="info">Absolutely nothing!</p>
		<p class="expand">How does ScholarHub work?</p>
		<p class="info">Create an account. Use our finder to locate nearby scholars. Message them.</p>
		<p class="expand">Who is ScholarHub for?</p>
		<p class="info">Students. Tutors. Parents.</p>
		<p class="expand">Why should I use ScholarHub?</p>
		<p class="info">Studying alone is boring. Studying with people is fun. Studying alone is not always effective. Studying with others is effective.</p>
		<p class="expand">Is my personal information available to others?</p>
		<p class="info">Unless you accept someone as a friend, they cannot know your personal information. Your information about your location and what you want to study for is available on the finder, but not tied to anyone because it is anonymous.</p>
	</div>

	<div id="tabs-2">

		<p class="expand">How much does ScholarHub make?</p>
		<p class="info">Nothing!</p>
		<p class="expand">What is the origin of ScholarHub?</p>
		<p class="info">A student who was frustrated with studying alone.</p>

	</div>
</div>
</div><!--end of col-md-6 p1-->
</div><!--end of container-->


<% else %>
<h1>Welcome to ScholarHub!</h1>
<h3>Beta v0.2</h3>
<p>You are the very first users of ScholarHub! I welcome you with open arms. Please do not hesitate to contact me if I can make ScholarHub better!</p>
<h2>Updates Coming</h2>
Friend Requests<br>
Chat and messaging<br>
More User Info<br>

Contact page<br>
FAQ and RAQ<br>
Sign Up and Login forms with modal popup<br>
User Mail with updates<br>
Masking until friend established<br>
No refresh search<br>
search on map<br>
Window seeker<br><br>
<b>Bugs</b><br>
Intro page on home bottom jQuery UI broken<br>
Options menu hover not working<br><br>
<b>Architectural Problems</b><br>
Data send not secure.<br>
<br>
<br>
v0.1
<b>General</b>
Search Function<br><br>
<b>Bugs</b>
Map broken on refresh (turbolinks)<br>

<% end %>

<div id="test">
yolo man
</div>
	

<script type="text/javascript">
var ip = "x";
$.ajax({
	url: "https://telize.com/jsonip",
	async: false,
	dataType: 'json',
	success: function(data){
		ip = data.ip;
	}
});
console.log(ip);
//var lats = [];
//var longs = []
var latitude;
var longitude;
var url = "https://freegeoip.net/json/" + ip
var users = [];



for (var i=0; i<gon.users.length; i++)
{
	if (gon.users[i].lat != null)
	{
		
		users.push(gon.users[i]);
	}
	
}

console.log(users.length)



function myFunction(data, users) {
	
	var latitude = data.latitude;
	var longitude = data.longitude;
	initialize(latitude, longitude, users);
	
	
}

$.ajax({
	url: url,
	async: false,
	dataType: 'json',
	success: function(data) {
		myFunction(data, users);
		console.log("SUCCESS!")
		
	},
	error: function() {
		console.log("FAIL!")
	},
	type: 'GET'

});
	

function initialize(latitude, longitude, users){
	var mapCanvas = document.getElementById('map-canvas');
	var mapOptions = {
		center: new google.maps.LatLng(latitude, longitude),
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		panControl: false,
        zoomControl: false,
        scaleControl: false,
        scrollwheel: false
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);

	
	for (var i=0; i<users.length; i++)
	{
		
		addMarker(users[i], map);
		
		
	}
}

function addMarker(users, map) {
	var tutorMarker = 'images/tutor.png';
	var studentMarker = 'images/student.png';
	var bothMarker = 'images/both.png';
	var icon;
	var status;

	if (users.student && users.tutor)
	{
		icon = bothMarker;
		status = "Student and Tutor"
	}
	else if (users.tutor) {
		icon = tutorMarker;
		status = "Tutor";
	}
	else {
		icon = studentMarker;
		status = "Student"
	}

	latitude = users.lat;
	longitude = users.long;

	
	var point = new google.maps.LatLng(latitude, longitude);
	var marker = new google.maps.Marker({
		position: point,
		icon: icon,
		map: map
		
	})
	
	var url = "/signup"; 
	
	var info_window = new google.maps.InfoWindow({
		content: "<span class='status'>" + status +  "</span><br><a href=" + url + ">Sign up to message me!</a>" + "<br>"
		+ "Subjects: " 

	});
		google.maps.event.addListener(marker, 'click', function() {
			
			info_window.open(map, this);
		});
	return marker;
}

jQuery(document).ready(function() {


jQuery('SignUpNow').delay(1000).fadeIn(2000);
	
});












</script>