<% if !logged_in? %>
<div class="map-canvas-inside">
<h1 style="background-color: grey">Sign up now!</h1>


<%= link_to "I'm a Student #{image_tag('student.png')}".html_safe, signup_path,  :class => "btn btn-lg btn-block"%><br>
<%= link_to "I'm a Tutor #{image_tag('tutor.png')}".html_safe, signup_path, :class => "btn btn-lg btn-block"%><br>
</div>


<div id='map-canvas'> 




</div>
<!-- Section 1 -->

<a name="more"><section id="intro"></a><a href="#more" class="smoothScroll"><h1 id="learnmore">Learn More</h1></a>



<h1>Where students and tutors connect.</h1>

<a href="#help"><div id="tabs"></a>
	<ul>
		<li><a href="#tabs-1">Frequently Asked Questions</a></li>
		<li><a href="#tabs-2">Rarely Asked Questions</a></li>
	</ul>

	<div id="tabs-1">
		
		<p class="expand"><b>What is ScholarHub?</b></p>
		<p class="info">A service that connects motivated students to both students and tutors. Find a student-tutor or a study group!</p>
		<p class="expand"><b>How much does ScholarHub cost?</b></p>
		<p class="info">Absolutely nothing!</p>
		
	</div>

	<div id="tabs-2">

		<p class="expand">How much does ScholarHub make?</p>
		<p class="info">Nothing!</p>

	</div>
</div>

</section>


<% else %>
<h1>Welcome to ScholarHub!</h1>
<h3>Beta v0.2</h3>
<p>You are the very first users of ScholarHub! I welcome you with open arms. Please do not hesitate to contact me if I can make ScholarHub better!</p>
<h2>Updates Coming</h2>
Friend Requests<br>
Chat and messaging<br>
More User Info<br>

Contact page<br>
FAQ and RAQ<br>
Sign Up and Login forms with modal popup<br>
User Mail with updates<br>
Masking until friend established<br>
No refresh search<br>
search on map<br>
Window seeker<br><br>
<b>Bugs</b><br>
Intro page on home bottom jQuery UI broken<br>
Options menu hover not working<br><br>
<b>Architectural Problems</b><br>
Data send not secure.<br>
<br>
<br>
v0.1
<b>General</b>
Search Function<br><br>
<b>Bugs</b>
Map broken on refresh (turbolinks)<br>

<% end %>

<div id="test">
yolo man
</div>
	

<script type="text/javascript">
var ip = "x";
$.ajax({
	url: "https://telize.com/jsonip",
	async: false,
	dataType: 'json',
	success: function(data){
		ip = data.ip;
	}
});
console.log(ip);
//var lats = [];
//var longs = []
var latitude;
var longitude;
var url = "https://freegeoip.net/json/" + ip
var users = [];



for (var i=0; i<gon.users.length; i++)
{
	if (gon.users[i].lat != null)
	{
		
		users.push(gon.users[i]);
	}
	
}

console.log(users.length)



function myFunction(data, users) {
	
	var latitude = data.latitude;
	var longitude = data.longitude;
	initialize(latitude, longitude, users);
	
	
}

$.ajax({
	url: url,
	async: false,
	dataType: 'json',
	success: function(data) {
		myFunction(data, users);
		console.log("SUCCESS!")
		
	},
	error: function() {
		console.log("FAIL!")
	},
	type: 'GET'

});
	

function initialize(latitude, longitude, users){
	var mapCanvas = document.getElementById('map-canvas');
	var mapOptions = {
		center: new google.maps.LatLng(latitude, longitude),
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		panControl: false,
        zoomControl: false,
        scaleControl: false,
        scrollwheel: false
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);

	
	for (var i=0; i<users.length; i++)
	{
		
		addMarker(users[i], map);
		
		
	}
}

function addMarker(users, map) {
	var tutorMarker = 'images/tutor.png';
	var studentMarker = 'images/student.png';
	var bothMarker = 'images/both.png';
	var icon;
	if (users.student && users.tutor)
	{
		icon = bothMarker;
	}
	else if (users.tutor) {
		icon = tutorMarker;
	}
	else {
		icon = studentMarker;
	}

	latitude = users.lat;
	longitude = users.long;

	
	var point = new google.maps.LatLng(latitude, longitude);
	var marker = new google.maps.Marker({
		position: point,
		icon: icon,
		map: map
		
	})
	
	var url = "/signup"; 
	
	var info_window = new google.maps.InfoWindow({
		content: "<a href=" + url + ">View Profile</a>"  

	});
		google.maps.event.addListener(marker, 'click', function() {
			
			info_window.open(map, this);
		});
	return marker;
}


	




</script>